.udemyCarousel {
    .udemyCarousel__container {
        background-image: url(../image/cover.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
    }
}